
.playlist {
	overflow-x: scroll;
	scrollbar-width: thin;
}

.playlist-item {
	padding: 5px;
}

.playlist-item:hover {
	background-color: var(--lumo-primary-color-50pct);
}

.playlist-item.selected {
	background-color: var(--lumo-primary-color);
}
